.filters-form--wrapper{
    position: fixed;
    top: 0px;
    left: 52%;
    color: white;
}

.filters-form--wrapper h2{
    background-color: darken($purple, 20%);
    padding: 10px;
    border-radius: 5px;
    margin: 0;
    margin-top: 5px;
}

.filters-form--wrapper form{
    display: flex;
    flex-direction: column;
}
.filters-form--wrapper p {
    margin-bottom: 6px;
}
.filters-form--wrapper label{
    margin-bottom: 6px;
}
.filters-form--wrapper form input{
    width: 150px;
    background-color: darken($purple, 30%);
    border: none;
    color: white;
    border-bottom: 2px solid $purple;
    padding: 5px;
}