.filters-form--wrapper__main {
    width: 300px;
}

.filters-form--wrapper{
    position: fixed;
    top: 0;
    margin-top: 80px;
    margin-left: 50px;
    color: white;
}

.filters-form--wrapper h2{
    background-color: darken($purple, 20%);
    padding: 5px;
    border-radius: 5px;
    margin: 0;
    margin-top: 5px;
}

.filters-form--wrapper form{
    display: flex;
    flex-direction: column;
}
.filters-form--wrapper p {
    margin-bottom: 6px;
}
.filters-form--wrapper label{
    margin-bottom: 6px;
}
.filters-form--wrapper form input{
    color: white;
}